.stat{
	.category{
		margin: 50px auto;
		text-align:center;
	}
	.date{
		margin: 50px auto;
		text-align:center;
	}
	.not_fount{
		margin: 100px auto;
		text-align:center;
	}

	.interval_select{
		width:120px;
		margin:20px 0 0 62%;
	}
}